<p style="color: green"><%= notice %></p>

<%= render @note %>

<div>
  <%= link_to "Edit this note",{ controller: 'notes', action: 'edit', id: @note }, class: 'btn btn-info' %> |
  <%= link_to "Back to notes", user_notes_path %>
  
</div>

