<p style="color: green"><%= notice %></p>

<h1>Users Managment</h1>

<div id="users">
  <% @users.each do |user| %>
    <div class="user-card">
      <div class="user-info">
      <h2>
      <% if user.admin %>
        <i class="fa-solid fa-user-shield fa-xl"></i>
      <% else %>
        <i class="fa-solid fa-user fa-2xl"></i>
      <% end %>
      </h2>
      <h2 style="padding-left: 20px">
        <%= user.username %> 
      </h2>
      
      </div>
      <div class="user-bottons">
        <%= button_to '<i class="fa-solid fa-user-pen"></i>'.html_safe, user_path(user.id), method: :get, class: "button-primary" %>
        <%= button_to '<i class="fa fa-sticky-note"></i>'.html_safe, user_notes_url(user.id), method: :get,  class: "button-primary"%>
      </div>
    </div>
  <% end %>
</div>

