/* User */
#collection {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 15px;
    padding-right: 10%;
  }

  .collection-card {
    display: flex;
    align-items: center;
    height: 70px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #ffc900;
    border-radius: 15px;
  }
  
  .collection-info {
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    width: 80%;
  }
  
  .collection-bottons {
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    width: 10%;
  }
  