/* Notes */

.container-notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.note{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 150px;
  padding: 10px;
  border: 1px solid #ffc900;
  border-radius: 15px;
}

.note-title{
  font-size: 24px;
  font-weight: bold;
  padding-top: 1rem;
  border-bottom:1px solid #ffc900;
}

.note-text{
  margin: .33rem 0rem 1rem 0rem;
  height: 100;
  overflow: hidden;
}
.note-show-button{
  margin-top: auto;
}

.add-note{
  width: 172px;
  height: 222px;
  padding: 10px;
  border: 1px solid #ffc900;
  border-radius: 15px;
  background-color: #ffc900;
  color: #222;
  font-size: x-large;
}
.add-note:hover{
  background-color: #222;
  color:#ffc900;
  border:1px solid #ffc900;
}

.notes-options {
  display: flex;
  align-items:flex-end;
}

/* Show note */

.show-note-container{
  display: grid;
  grid-template-columns: 30% auto;
  gap: 100px;
  height: max-content;
  margin-top: 20px;
}

.note-info-container{
  height: max-content;
}

.note-info-text{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: auto;
  min-height: 200px;
  padding: 10px;
  border: 1px solid #ffc900;
  border-radius: 15px;
}

.note-info-image{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: auto;
  padding: 10px;
  border: 1px solid #ffc900;
  border-radius: 15px;
}

